apiVersion: v1
stringData:
  encryptedSavedObjects: {{ kibana_encryptedSavedObjects_key }}
  reporting: {{ kibana_reporting_key }}
  security: {{ kibana_security_key }}
kind: Secret
metadata:
  name: kibana
  namespace: elastic
type: Opaque
